html, body {
  background-color: #555
}

.donut-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 800px;
  height: 600px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
}

.add-donut-button {
  width: 75px;
  height: 50px;
  border: 0px;
  background-color: aquamarine;
  margin-left: 700px;
}

.add-donut-button:hover {
  background-color: #9322aa;
}

.donut {
  background-image: url('img/donut.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}